

.interview-header h2 {
    display: inline-block;
    position: relative;
    padding: 5px 15px 10px 10px;
}


.interview-header h2::after {
    content: "" !important;
    position: absolute !important;
    border: 0px !important;
    width: 100% !important;
    height: 3px !important;
    background: #ea8926 !important;
    bottom: 0px !important;
    left: 10px !important;
}

@media (min-width: 1200px) {
    .banner-rnd {
        width: 1140px !important;
    }
}


.pagination  {
    display: none;
}

.banner-rnd {
  position: relative;
  display: block;
  padding-top: 34px;
  padding-bottom: 30px;
  text-align: center;
  transition: background-color 0.2s;
  margin: 0 auto;
  background-color: #f6fbff;
}
.banner-rnd .rnd-brands {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  width: 100%;
}

.banner-rnd .rnd-brands .brands-power {
  background-color: #858CBD;
}
.banner-rnd .rnd-brands .brands-lab {
  background-color: #FAAD3B;
}
.banner-rnd .rnd-brands .brands-cable {
  background-color: #F05E22;
}
.banner-rnd .rnd-brands .brands-connect {
  background-color: #00B2AF;
}
.banner-rnd .rnd-brands .brands-components {
  background-color: #5090CC;
}
.banner-rnd .rnd-logo {
  width: 100%;
  height: 450px;
}
.banner-rnd .rnd-strapline {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 15px;
}
.banner-rnd .rnd-text {
  color: #232832;
    font-family: Nunito;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
}
.banner-rnd .rnd-btn {
  font-family: Nunito;
    font-size: 16px !important;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-left: -10px;
    color: #f38e27;
}

.banner-rnd .rnd-btn:hover {
    color: #f38e27;
}

.details {
    padding-left: 55px;
    width: 100%;
    position: relative;
    top: 19%;
}

.details h3 {
    color: #414b5d;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

@media (min-width: 992px) {
  .banner-rnd {
    text-align: left;
  }
  .banner-rnd .rnd-text {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}


.second_banner {
    background: #FFF !important;
    border: 1px solid #dfe6ed;
    margin-bottom: 60px;
}

.detailss {
    padding-left: 55px;
    width: 100%;
    position: relative;
}

.detailss h3 {
    color: #414b5d;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.second_details {
    margin-top: 20px;
}

.detailss p svg {
    fill: #f38e27;
    margin-bottom: -2px;
    margin-right: 5px;
}


.share-popup-container {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    justify-content: center;
    align-items: center;
}


.share-popup-content {
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* CSS for the close button */
.close-share-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}


.social-icons a {
    display: inline-block;
    margin: 10px;
}

.social-icons a img {
    height: 50px;
    width: 50px;
}


.social-icons {
    text-align: center;
    padding-top: 20px;
}

 .menu-dot {
    background-color: white !important;
    box-shadow: none !important;
    border: 0;
    padding: 0;
    border-radius: 0%;
    display: flex;
    position: relative;
    right: 30px;
}

.menu-dot button {
    background: none;
    border: none;
    padding: 0px !important;
}

.menu-dot button svg {
    margin-bottom: 2px;
    height: 19px !important;
    width: 19px !important;
}

.menu-dot button .svg-black {
    fill: #21325E !important;
}
.menu-dot button .svg-blue {
  fill: #f38e27 !important;
}

.menu-dot button .internship_svg_black {
    fill: #21325E !important;
}

.menu-dot button .internship_svg_yellow {
     fill: #f38e27 !important;
}




.job-card-header .menu-dot img {
    
    fill: #000 !important;
    height: 16px !important;
    width: 16px !important;
}
.banner_spires {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(assets/img/CPF0hp1.webp) !important;
}
.job-card-header {
    height: 31%;
}
.banner_section {
    width: 100% !important;
}
.nav-justified {
    margin-top: 40px !important;
}
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'); /* Example of using Font Awesome */
  
  * {
     font-family: 'Satoshi', sans-serif !important;
  }
  
  .testimonial-area .owl-carousel .owl-nav .owl-prev, .testimonial-area .owl-carousel .owl-nav .owl-next {
      display: none !important;
  }
  
.owl-carousel .owl-nav {
  text-align: center;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  width: 100%;
}


.owl-carousel .owl-nav button {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 50%; 
  padding: 10px; 
  text-align: center;
  margin: 0 auto !important;
}


.owl-carousel .owl-nav svg {
  width: 24px;
  height: 24px;
}


.testimonial-area {
   height: 415px !important;
}
.single-review {
    height: 260px;
}


@media (max-width: 768px) {
    .share-popup-content {
        min-width: 90% !important;
    }
    .question-content {
        margin-top: 40px !important;
    }
    .review_story_heading {
        margin: 0 auto !important;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .testimonial-area {
   height: 370px !important;
}
.title h1 {
    margin-top: -20px;
}
}



.question-img img {
    height: 130px;
    width: 130px;
    margin: 0 auto;
    position: relative;
    top: 25%;
    border-radius: 50%;
}

.question-wrapper {
    height: 410px;
}

.interview-slider .question-content .question-description {
    -webkit-line-clamp: 4;
}




@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}
.slider h2 {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 500;
}
.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.active_divs {
    display: flex !important;
    flex-wrap: wrap !important;
}

.single-post {
    width: 255px !important;
    margin-right: 10px;
    display: flex;
    flex-direction: column !important;
}

.post-list .single-post .thumb img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0px !important;
}
.apply_like_button {
    margin-top: 5px !important;
    border-top: 1px solid #CCCCCC;
    padding-top: 10px;
}

.apply_like_button li {
    background: #FFFFFF !important;
   color: #f38e27 !important;
   padding: 2px 5px !important;
   border-radius: 0px !important;
   float: right;
   border: 1px solid #f38e27 !important;
}

.apply_like_button li a {
     color: #f38e27 !important;
}

.single-post .title h4 {
    font-size: 14px;
}

.titles h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px !important;
}

.image_desc_div {
    display: flex;
    flex-direction: column;
}

.image_desc_div button {
    color: #000;
    border: 1px solid #CCC;
    background: none;
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.image_desc_div svg {
    margin-bottom: -2px;
    font-size: 14px;
}

.titles h6 {
    margin-top: -5px !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    color: #8A8A8A !important;
}

.details {
    height: 61% !important;
}
.post-list .single-post .btns li {
    background: #f38e30;
}
.post-list .single-post .btns li a {
    color: #FFFFFF !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}

.job_type {
    background: #EEEEEE;
    border: none;
    color: #666666;
    padding: 0px 3px !important;
    border-radius: 3px;
    margin-top: 15px;
    font-size: 12px !important;
}

.job_type:hover {
    background:  #EEEEEE !important;
    color: #666666 !important;
}

.address {
    margin-top: 10px !important;
}

.post-list .single-post .address  {
    font-size: 13px !important;
}

.address svg {
    fill: #f38e30 !important;
    height: 14px;
    width: 14px;
    margin-right: 7px !important;
    
}

.post-list .single-post .address  {
     color: #333333 !important;
}

.start_imm {
    margin-left: -2px;
}

.job_type svg {
     fill: #f38e30 !important;
     margin-bottom: -2px !important;
}
.filter_buttons {
    background: none !important;
    color: #f38e27;
    border: none !important;
    font-weight: 500;
}

.job-card {
  padding: 20px 16px;
  background-color: var(--header-bg-color);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.detail-button {
    padding: 0px 8px;
}

.detail-button:hover {
    color: #FFFFFF !important;
}
.card-buttons-msg:hover {
    color: #FFFFFF !important;
}

.search-buttons {
    font-weight: 600 !important;
}

 .logo_and_name {
        display: flex !important;
        height: 55px;
    }
    
    .logo_and_name img {
        margin-right: 10px;
        height: 55px;
        width: 55px;
    }
    
    .job-card-title {
        margin-top: 4px;
        margin-bottom: 10px;
    }
    
    .logo_and_name p {
        color: #f38e27;
         display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 15px;
    }
    
     .job-card-subtitle {
        margin-top: 10px !important;
    }
    .job-card-subtitle p {
        margin-top: -7px;
    }
    .job-card svg {
        width: 14px !important;
        height: 14px !important;
        margin-right: 5px;
        fill: #f38e27 !important;
        border-radius: 0px !important;
    }
    .job-card-subtitle p svg {
         fill: #f38e27 !important;
    }
     
    .job-card svg {
        fill: #f38e27 !important;
        padding: 0px !important;
        margin-bottom: -3px;
    }
    
    .apply_now_button {
        background: #f38e27;
        border: 1px solid #f38e27;
    }
    .ellipsis_para {
         display: -webkit-box;
    -webkit-line-clamp: 4;
    width: 200px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    
    .sidebar .single-slidebar {
    background-color: white;
    border: 1px solid #f38e27;
    padding: 11px 5px !important;
    margin-bottom: 30px;
    border-radius: 0px;
    border-top-width: 5px;
}

.location-search-form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.location-search-form button {
    background: #f38e27;
     border: 1px solid #f38e27;
}

.interview-header {
    padding-left: 15px;
}
.job-card-buttons {
    margin-top: 10px !important;
}

.register_now_button {
    background: #f38e27;
    color: #ffffff !important;
}

@media (max-width: 768px) {
    
    .details_car {
        min-width: 100% !important;
    }
    .detailss {
        padding-top: 20px;
        padding-left: 0px !important;
    }
    
    .upload_cv_div {
        height: auto !important;
        padding-bottom: 70px !important;
    }
    
    .single-post .title h4, .post-list .single-post h6 {
        text-align: left !important;
    }
    .post-list .single-post {
        width: 100% !important;
    }
    .details {
        margin-top: -0px !important;
    }
    .title {
        text-align: left !important;
    }
    .testimonial_row {
        display: flex;
        flex-direction: column !important;
    }
    .featured {
        text-align: center !important;
    }
    .slider_margin_100 {
        margin-top: 50px !important;
    }
}

.success-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}


.success-modal-content {
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 450px;
    margin: 10% auto;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}


.success-close {
    color: #aaa;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.success-close:hover {
    color: #555;
}


.success-modal-header {
    padding: 20px;
}


.success-modal-body {
    padding: 20px;
}

.modelh2 {
    color: #ffae42;
    font-size: 28px;
    margin-bottom: 10px;
}

.modelp {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}




.error-custom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.error-modal-content {
    background-color: #fff;
    border-radius: 8px;
    width: 70%;
    max-width: 400px;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

.error-modal-close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.error-modal-close:hover {
    color: #555;
}

.error-modal-message {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.detail-button:hover {
    background: none !important;
    color: #777777 !important;
}

.card-buttons-msg {
    background: #F0F0F0;
    border-radius: 4px;
    text-align: center;
}
.apply_now_button {
     border-radius: 4px;
}
.card-buttons-msg:hover {
    background: #428BCA;
}

.sell_all_container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}
.sell_all_container .button{
    padding: 5px 20px;
    background: #428BCA;
    color: #FFFFFF !important;
    cursor: pointer;
}



#noDataModal .modal-content {
    background-color: white; 
    border: none;
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#noDataModal .modal-body {
    color: #333; /* Dark text color */
}

#noDataModal .btn-orange {
    background-color: #f39c12; 
    border: none;
}

#noDataModal .btn-orange:hover {
    background-color: #d9820e; 
}

.download_app_now_button {
    margin-top: 20px !important;
    padding: 10px 15px;
    border-radius: 2px;
    background: #428BCA;
    color: #FFFFFF !important;
    cursor: pointer;
}
